
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.diwali-top-section {
 background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
 height: 30vh;
 background-size: cover;
}

.diwali-top-section-heading {
 color: white;
 font-family: "Caveat";
 font-size: 36px;
 width: 200px;
 padding: 25px;
}
.diwali-bottom-section{
    background-color: #e6f6ff;
    padding: 25px;
    text-align: center;
}
.diwali-card-item{
    text-align:center;
    background-color: white;
    width:250px;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;

}
.diwali-card-imgage{
    height: 70px;
    width: 70px;

}
.diwali-card-name{
    font-family: "Roboto";
    font-size: 15px;
    color: #616e7c;
    margin: 3px;

}
.diwali-card-price{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 15px;
}
